{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block head %}
  {{ header|safe }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">Formulaire</h4>
                <p class="card-category">Choisir un nom de société</p>
            </div>
            <div class="card-body ">
                {{ render_form(form) }}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">MAP</h4>
                <p class="card-category">Carte des sociétés identifié</p>
            </div>
            <div class="card-body ">
              {{ body_html|safe }}
            </div>
            <div class="card-footer ">
                <div class="legend">
                    <i class="fa fa-circle text-info"></i> Open
                    <i class="fa fa-circle text-danger"></i> Click
                    <i class="fa fa-circle text-warning"></i> Click Second Time
                </div>
                <hr>
                <div class="stats">
                    <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  {{ script|safe }}
</script>
    
{% endblock %}